h1 {
    font-family: inherit;
}

.toolbar {
    position: absolute;
    width: 100%;
    z-index: 1;
    min-width: 860px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.containerPage {
    background-color: whitesmoke;
    min-width: 892px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.containerPaginator {
    height: 50px;
    background-color: white;
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
}

.cont-btn-pg {
    float: right;
    margin-right: 40px;
    background-color: aqua;
}

.containerTable {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.page {
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
}

button {
    margin-top: 10px;
    margin-left: 10px;
}

.iconBtn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.rigthBtn {
    margin-left: 0 !important;
}

small,
strong {
    padding-top: 10px;
}

strong {
    margin-left: 15px;
}

mat-form-field {
    margin-right: 60px;
    float: right;
    padding-top: 5px;
}

.menuBar {
    margin-left: 10px;
    margin-right: 10px;
    height: 65px;
    min-width: 850px;
    text-align: initial;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}

.searchBtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}